*{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* reservers.module.css */
.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: lightgray;
    border: 2px gray solid;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20 0px;
  }
  form{
    border: 2px solid #d8d8d8;
    padding: 30px;
    background-color: rgb(168, 168, 168);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tableHeader {
    background-color: #bababa;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: #888888 1px solid;
  }
  
  .tableRow {
    background-color: #ffffff;
  }
  
  .tableCell {
    padding: 10px;
    border: 1px solid #AAA;
    text-align: left;
  }
  
  .editBtn,
  .deleteBtn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
  
  .editBtn {
    background-color: #ffcc00;
    color: white;
  }
  
  .deleteBtn {
    background-color: #ff4444;
    color: white;
  }
  
  .editBtn:hover {
    background-color: #e6b800;
  }
  
  .deleteBtn:hover {
    background-color: #e60000;
  }
  